body {
    height: 100%;
    color: #fff;
    font-family: sans-serif;
    display: inline-block;
    margin: 0;
 }

#main-header {
    background-image: url(man-1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
}

#main-header .header-caption h1 {
    font-size: 1em;
    font-weight: 900;
    left: 50%;
}

#main-header .header-caption h2 {
    font-size: 2em;
    font-weight: 700;
}

@media (max-width: 992px) {
    #main-header {
        background-image: url(man-1.jpg) center;
        width: 49%;
        
    }
}

/*@media (max-width: 480px) {
    
    #gallery {
        width: 100%;
    }
}*/